body {
  padding-bottom: 0px;
}

#NPMRDS-side-nav {
  background-color: #666;
  padding: 5px;
}

.NPMRDS-control-panel-label {
  background-color: #555;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.NPMRDS-control-panel-label:hover {
  background-color: #333;
}

.NPMRDS-control-panel {
	color: #000;
	font-size: 9pt;
}

#NPMRDS-side-nav li {
  margin-top: 5px;
}

.NPMRDS-label {
	color: #fff;
}

.NPMRDS-checkbox {
	padding: 2px;
}

.NPMRDS-submit {
	background-color: #555;
	text-align: center;
	line-height: 30px;
	height: 30px;
	cursor: pointer;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
}
.NPMRDS-submit:hover {
	background-color: #333;
}

.NPMRDS-button-disabled {
  background-color: #000;
  cursor: wait;
}
.NPMRDS-button-disabled:hover {
  background-color: #000;
}

#NPMRDS-data-point-slider-div {
  background-color: #666;
  position: relative;
	text-align: right;
	height: 50px;
}
#NPMRDS-data-point-slider {
	background-color: #666;
}
#NPMRDS-data-point-slider-controls {
  display: inline;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 30px;
}
#NPMRDS-data-point-slider-controls span {
  margin: 0px 2px;
  cursor: pointer;
}
#NPMRDS-data-point-slider-controls span:hover {
  color: #333;
}

.NPMRDS-legend {
  position: absolute;
  right: 25px;
  bottom: 10px;
  z-index: 10;
  text-align: center;
  overflow: hidden;
  background-color: #009;
  color: #000;
  width: 160px;
}
.NPMRDS-legend-label {
  height: 30px;
  line-height: 30px;
  font-size: 12pt;
  font-weight: bold;
  background-color: #555;
  padding: 0px;
  color: #fff;
  cursor: pointer;
}
.NPMRDS-legend-label:hover {
  background-color: #333;
}
.NPMRDS-legend-bin {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.NPMRDS-data-view {
  position: absolute;
  z-index: 10;
  left: 65px;
  top: 0;
  background-color: #555;
  color: #fff;
}
.NPMRDS-data-view-label {
  border: 2px solid #333;
  display: inline;
  cursor: pointer;
  font-size: 12pt;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
.NPMRDS-data-view-label:hover {
  background-color: #333;
}
.NPMRDS-data-view-label-selected {
  background-color: #333;
}

.NPMRDS-tmc-remove:hover {
  color: #f00;
}

.NPMRDS-tmc-panel {
  background-color: #fff;
  color: #000;
  stroke: #000;
  margin: 10px;
}
.NPMRDS-tmc-panel text {
  fill: #000;
  stroke: none;
}

.NPMRDS-tmc-panel table th {
  color: #000;
}
.NPMRDS-tmc-panel table .NPMRDS-dataview-label {
  cursor: pointer;
}
.NPMRDS-tmc-panel table .NPMRDS-dataview-label-active {
  color: #090;
}

.resolution-label {
  float: left;
  padding: 0px 20px;
  height: 30px;
  line-height: 30px;
  background-color :#555;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.resolution-label:hover {
  background-color :#333;
}
.road:hover{
  stroke-width:5px;
}

svg .axis text {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 5px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}

/* application.css changes */
.nav-tabs > li > a {
  color: #fff;
}

.content {
  padding: 20px 2%;
}

.widget {
  margin-bottom: 20px;
}

/*-------------
Loading Spinner
---------------*/

.spinner-div {
  background-color: #fff;
  position: fixed;
  right: 30px;
  top: 75px;
  z-index: 20;
  color: #000;
  width: 220px;
  height: 245px;
  text-align: center;
  border: 10px solid #575757;
}
.spinner-div h3 {
  font-weight: 800;
}

.spinner{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #D8D8D8;
  border: 10px solid #575757;
  position: relative;
  left:100px;
  top:75px;
  /*margin-top: 90px;
  margin-left: 90px;
  transform: translateX(-50%) translateY(-50%) translateZ(0);*/
  background-image: url('http://i.imgur.com/afmNQO7.jpg');
  background-size: 200%;
  -webkit-animation: gridLoop 10s infinite linear;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
@-webkit-keyframes gridLoop{
  0%{background-position: -5px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  10%{background-position: -5px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  15%{background-position: -5px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
 17%{background-position: -305px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  19%{background-position: -305px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  25%{background-position: -305px 00%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);}
  27%{background-position: -305px 00%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  35%{background-position: -305px 200%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  40%{background-position: -305px 200%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  45%{background-position: -305px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  55%{background-position: -105px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(90deg);}
  60%{background-position: -105px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  63%{background-position: -105px 100%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  70%{background-position: 105px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  73%{background-position: 105px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  75%{background-position: 205px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  78%{background-position: 205px 50%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  82%{background-position: 105px 150%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  86%{background-position: 105px 150%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(270deg);}
  88%{background-position: 105px 120%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
  94%{background-position: 105px 180%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
  98%{background-position: 105px 180%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
  100%{background-position: -5px 0%;transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);}
}